
:host {
    width: 100%;    
}
:host /deep/ md-toolbar md-toolbar-row {
    display: flex;
    justify-content:space-between;
}
:host /deep/ md-toolbar-row .icon-container {
    margin: 12px;
}
:host /deep/ md-toolbar-row .icon-container button {
    color: white;
    background: rgb(0, 188, 212);
    margin: 12px;
}
:host /deep/ md-toolbar-row .icon-container md-icon {
    cursor: pointer;
}
:host /deep/ md-toolbar-row h3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px
}
